# скачанные картинки книг - не нужно хранить в репозитории
books/

# результаты скрапинга
#books.csv

# Python кэш
__pycache__/
*.pyc

# виртуальное окружение, если будешь его создавать
venv/
.venv/

# файлы IDE
.idea/
.vscode/